# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env.development
.env.*
!.env.example

#prisma
src/server/prisma/migrations
src/server/prisma/dev.db